body {
  margin: 0;
  padding: 0;
  background-color:#4d94ff;/* rgb(254,109,94);*/
  color: white;
}

h1 {
  position: absolute;
  width: 100%;
  margin-top: 0;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: rgb(251,218,2);
  text-shadow: 2px 2px 4px #000000;
}

span {
  position: absolute;
  width: 100%;
  margin-top: 45vh;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: rgb(251,218,2);
  text-shadow: 2px 2px 4px #000000;
}